* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  min-height: 200px;
}
.resp {
  display: block;
  opacity: 0.3;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  border: 10px solid #fff;
  background-position: 33.3333% 66.6666%;
  position: relative;
  overflow: hidden;
}
.resp:after {
  border: 4px dotted #ffffff;
  content: '';
  top: 0;
  left: 0;
  width: 33.3333%;
  height: 66.6666%;
  position: absolute;
  border-width: 0 4px 4px 0;
  background-color: rgba(0, 255, 0, 0.3);
}
.resp:before {
  border: 4px dotted #ffffff;
  content: '';
  left: 33.3333%;
  top: 66.6666%;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 255, 0, 0.3);
}
.resp:before:first-child {
  border-left: 0;
}
.crop {
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  float: left;
  border: 10px solid #fff;
  background-position: 33.3333% 66.6666%;
  position: relative;
  overflow: hidden;
}
.crop:after {
  border: 4px dotted #ffffff;
  content: '';
  top: 0;
  left: 0;
  width: 33.3333%;
  height: 66.6666%;
  position: absolute;
  border-width: 0 4px 4px 0;
  background-color: rgba(0, 255, 0, 0.3);
}
.crop:before {
  border: 4px dotted #ffffff;
  content: '';
  left: 33.3333%;
  top: 66.6666%;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 255, 0, 0.3);
}
.crop:before:first-child {
  border-left: 0;
}
.cover {
  background-size: cover;
}
.contain {
  background-size: contain;
}
.actual {
  background-size: 200%;
}
.w60 {
  width: 60%;
  content: '';
}
.w30 {
  width: 30%;
  content: '';
}
.w10 {
  width: 10%;
  content: '';
}
.processed {
  border-color: red;
}
